#main-header {
	background: #333;
	color: white;
	height: 70px;

    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
	border-bottom: gray solid 4px;
}	
	#main-header a {
		color: white;
	}

#logo-header {
	float: left;
	padding: 9px 0 0 20px;
	text-decoration: none;
	margin-left: 65px;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.6em;
		
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	

nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 15px;
			margin-top: 25px;
		}
			
			nav ul li a {
				display: block;
				padding: 4px 10px;
				text-decoration: none;
				font-size: 1rem;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
					border-radius: 2rem;
				}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 53px;
}


h1 {
    text-align: center;
    margin-bottom: 1.4rem;
    font-family:'Lucida Sans';
    font-size: 3rem;
    padding-top: 63px;
    padding-bottom: 15px;
}

.signUpDiv{
    color:black;
    width: 55%;
    height: auto;
    background-color:rgb(207, 207, 207);
    border-radius:10px;
    padding:26px;
    float: left;
    margin-left: 20%;
}

.signUpForm {
    font-family: 'Franklin Gothic Medium';
    display: table-cell;
}

.signUpButton{
    background-color: #0b76a6;
    border-radius: 3px;
    padding: 5px;
    width: 200px;
    color: white;
}



@import url(https://fonts.googleapis.com/css?family=Montserrat);

svg {
    display: block;
    font: 15.5em 'Montserrat';
    width: 50%;
    height: 50%;
    margin: 0 auto;
	
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #2097ac;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #0b76a6;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #d9d5e6;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #a6b7cc;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #3b6aa0;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}