#main-header {
	background: #333;
	color: white;
	height: 70px;

    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
	border-bottom: gray solid 4px;
}	
	#main-header a {
		color: white;
	}

#logo-header {
	float: left;
	padding: 9px 0 0 20px;
	text-decoration: none;
	margin-left: 65px;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.6em;
		
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	

nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 15px;
			margin-top: 25px;
		}
			
			nav ul li a {
				display: block;
				padding: 4px 10px;
				text-decoration: none;
				font-size: 1rem;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
					border-radius: 2rem;
				}

body{
	
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 24px;
}

#container{
	width: 75%;
	margin: 0px auto;
    background: rgb(219, 213, 213);
}

.title{
	margin-top: 89px;
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 55px;
}

.clearfix{
	clear: both;
}



#content{
	float: left;
	width: 100%;
	min-height: 500px;
}

.imageUser{
	width: 40%;
	height: 50%;
	float: right;
	margin-right: 100px;
}

.divUser{
	margin-left: 100px;
	font-size: 1.3rem;
}

#content ul{
	text-align: center;
}

#content ul li {
	display: inline-block;
	line-height: 22px;
	padding-top: 22px;
}
	
#content ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
}
	
#content ul li a:hover {
	background: #0b76a6;
    color: white;
	border-radius: 2rem;
}


.articlePostTitle{
    font-size: 25px;
    color: black;
    background: grey;
    text-align: center;
}


#titlePost{
	text-align: center;
	padding-top: 50px;
	font-size: 2rem;
}

.article a{
    text-decoration: none;
}

.article img{
	width: 24%;
}

.article{
	color: black;
	margin-top: 30px;
    margin-bottom: 15px;
	border: 1px solid black;
    border-radius: 13px;
    margin-left: 15px;
    margin-right: 15px;
}

.article p{
	word-break:break-all;
	justify-content: center;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
}

.article h4{
    text-align: right;
    padding-right: 10px;
}



@import url(https://fonts.googleapis.com/css?family=Montserrat);

svg {
    display: block;
    font: 15.5em 'Montserrat';
    width: 50%;
    height: 50%;
    margin: 0 auto;
	
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #2097ac;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #0b76a6;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #d9d5e6;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #a6b7cc;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #3b6aa0;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}